<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jack Sparrot Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Jack Sparrot Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Jack Sparrot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A61AEEC51E40978F00EDB53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61AEEE11E40978F00EDB53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61AEEEC1E40978F00EDB53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E50DC61E5E0A9800830EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
